*{
  box-sizing: border-box;
}

body{
  background: #f5f5f5;
  font-family: sans-serif;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.big-text{
  font-size:4rem;
  color:rgb(139, 97, 145);
}

form{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
  width:400px;
  max-width:100%;
}

input{
  border:none;
  font-size: 2rem;
  padding:1rem 2rem;
  display:block;
  width:100%;
  outline: none;
}

input::placeholder{
  color: #b5b5b5;
}

.todo-list{
  list-style-type: none;
  background:#fff;
  padding:0;
  margin:0;
}

li{
  border-top: 1px solid #e5e5e5;
  margin:0.5rem 0;
  padding:0.5rem;
  cursor: pointer;
}

li.completed{
  color: #6e6666;
  text-decoration: line-through;
}